@{
    Layout = "_LayoutAdministrador";
}
<!DOCTYPE html>
<html>

<body>

    <div>

        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Agregar Categoria</h1>

                    </div>

                </div>
            </div>
        </section>

        <section class="content">


            <div class="card card-solid">
                <div class="card-body pb-0">
                    <div class="row d-flex align-items-stretch">
                        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                            <div class="card bg-light">
                                <br />
                                <form method="post" onsubmit="GuardarCategoria(event)">
                                    <div class="card-body pt-0">
                                        <div class="form-group">
                                            <label>Nombre:</label>
                                            <input type="text" class="form-control" placeholder="Nombre" id="nombre">
                                        </div>
                                        <br />
                                        <div class="form group">


                                            <label>Detalles:</label>
                                            <input type="text" class="form-control" placeholder="Detalles" id="detalles">


                                        </div>



                                        <div class="col-5 text-left">
                                            <label>Imagen:</label>
                                            <img src="~/img/CupcakePrueba.jpg" id="imagenFront" alt="No se ha podida cargar la imagen" class="img-circle img-fluid">
                                        </div>

                                        <br />

                                        <div class="form-group">
                                            <label class="form-label" for="customFile">Cargar Archivo</label>
                                            <input type="file" class="form-control" id="imagenCategoria" onchange="mostrarImagenSeleccionada()"/>
                                        </div>

                                    </div>
                                    <div class="card-footer">
                                        <div class="text-right">
                                            <button class="btn btn-sm btn-primary" type="submit">
                                                Guardar
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>


            </div>


        </section>

    </div>
</body>
</html>

@section Scripts {
    <script>
        function GuardarCategoria(event) {
            event.preventDefault();

            const nombre = document.getElementById("nombre").value;

            const detalles = document.getElementById("detalles").value;

            const imagenCategoria = document.getElementById('imagenCategoria').files[0];

         

            const categoria = new FormData();


            categoria.append("NombreCategoria", nombre);
            categoria.append("DescripcionCategoria", detalles);
            categoria.append("ArchivoCategoria", imagenCategoria);

           
            fetch('@Url.Action("GuardarCategoria", "Categoria")', {
                method: "POST",
                headers: {
                    "X-Requested-With": "XMLHttpRequest"
                },
                body: categoria
            }).then(respuesta => {
                return respuesta.json()
            .then(respuesta => {
                swal({
                        text: respuesta.mensaje
                    });
            })
            }).catch(error => {
                console.error("Error", error);
            });
        }
    </script>


    <script>
        function mostrarImagenSeleccionada() {
            const imagenCategoria = document.getElementById('imagenCategoria').files[0];
            const imagenFront = document.getElementById('imagenFront');

            const lector = new FileReader();

            lector.onload = function (evento) {
                imagenFront.src = evento.target.result;
            };

            if (imagenCategoria) {
                lector.readAsDataURL(imagenCategoria);
            }
        }

    </script>

}
