@{
    Layout = "_LayoutAdministrador";
}
<!DOCTYPE html>
<html>

<body>
    <div>

        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Categorias</h1>

                    </div>

                </div>
            </div>
        </section>

     
        <section class="content">

        
            <div class="card card-solid">
                <div class="card-body pb-0">
                    <div class="row d-flex align-items-stretch">
                        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                            <div class="card bg-light">
                                <div class="card-header text-muted border-bottom-0">
                                    Categoria 1
                                </div>
                                <br />
                                <div class="card-body pt-0">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="lead"><b>Categoria Cupcakes</b></h2>
                                            <p class="text-muted text-sm"><b>Nombre: </b> Cupcakes </p>
                                            <p class="text-muted text-sm"><b>Detalles: </b> Productos muy dulces </p>

                                        </div>
                                        <div class="col-5 text-center">
                                            <img src="~/img/CupcakePrueba.jpg" alt="" class="img-circle img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="text-right">
                                        <a href="@Url.Action("EditarCategoria", "Categoria")" class="btn btn-sm btn-primary">
                                            Editar
                                        </a>
                                        <a href="#" class="btn btn-sm">
                                            Eliminar
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                            <div class="card bg-light">
                                <div class="card-header text-muted border-bottom-0">
                                    Categoria 2
                                </div>
                                <br />
                                <div class="card-body pt-0">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="lead"><b>Categoria Cupcakes</b></h2>
                                            <p class="text-muted text-sm"><b>Nombre: </b> Cupcakes </p>
                                            <p class="text-muted text-sm"><b>Detalles: </b> Productos muy dulces </p>

                                        </div>
                                        <div class="col-5 text-center">
                                            <img src="~/img/CupcakePrueba.jpg" alt="" class="img-circle img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="text-right">
                                        <a href="@Url.Action("EditarCategoria", "Categoria")" class="btn btn-sm btn-primary">
                                            Editar
                                        </a>
                                        <a href="#" class="btn btn-sm">
                                            Eliminar
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                            <div class="card bg-light">
                                <div class="card-header text-muted border-bottom-0">
                                    Categoria 3
                                </div>
                                <br />
                                <div class="card-body pt-0">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="lead"><b>Categoria Cupcakes</b></h2>
                                            <p class="text-muted text-sm"><b>Nombre: </b> Cupcakes </p>
                                            <p class="text-muted text-sm"><b>Detalles: </b> Productos muy dulces </p>

                                        </div>
                                        <div class="col-5 text-center">
                                            <img src="~/img/CupcakePrueba.jpg" alt="" class="img-circle img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="text-right">
                                        <a href="@Url.Action("EditarCategoria", "Categoria")" class="btn btn-sm btn-primary">
                                            Editar
                                        </a>
                                        <a href="#" class="btn btn-sm">
                                            Eliminar
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>





                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <nav aria-label="Contacts Page Navigation">
                    <ul class="pagination justify-content-center m-0">
                        @* <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#">6</a></li>
                        <li class="page-item"><a class="page-link" href="#">7</a></li>
                        <li class="page-item"><a class="page-link" href="#">8</a></li> *@
                        <li>
                            <a href="@Url.Action("AgregarCategoria", "Categoria")" class="btn btn-sm btn-primary">
                                Agregar Categoria
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- /.card-footer -->
    </div>
   
    

    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../dist/js/demo.js"></script>

    <script src="~\plugins\chart.js\chart.min.js"></script>
</body>
</html>
