@{
    Layout = "_Layout";
}


<div class="untree_co-section">
    <div class="container">

        <div class="block">
            <div class="row justify-content-center">


                <div class="col-md-8 col-lg-8 pb-4">


                    <div class="row mb-5">
                        <div class="col-lg-4">
                            <h1>Cambiar contraseña.</h1>
                        </div>

                        <h7>Por favor sigue los siguientes pasos para cambiar tu contrasaña e ingresar a tu cuenta.</h7>

                        <form>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="text-black" for="fname">Correo electronico</label>
                                        <input type="text" class="form-control" id="fname" placeholder="Correoelectronico@ejemplo.com">
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="text-black" for="codigo">Código de Recuperación </label>
                                        <input type="text" class="form-control" id="codigo" placeholder="abc123d">
                                    </div>
                                </div>

                            </div>

                          
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="text-black" for="lname">Contraseña nueva</label>
                                    <input type="text" class="form-control" id="lname" placeholder="Contraseña nueva">
                                    <label class="text-black" for="lname">Repetir Contraseña</label>
                                    <input type="text" class="form-control" id="lname" placeholder="Repetir contraseña">
                                </div>
                            </div>

                            <br />

                            <div>
                                <a class="btn btn-secondary me-2" href="@Url.Action("IniciarSesion", "Home")">Cambiar contraseña</a>
                            </div>
                        </form>

                    </div>

                </div>

            </div>

        </div>


    </div>
</div>


