@{
    Layout = "_Layout";
}


<div class="content-wrapper">



    <section class="content">


        <div class="card card-solid">
            <div class="card-body">
                <div class="row">
                    <div class="we-help-section">
                        <div class="container">
                            <div class="row justify-content-between">
                                <h1>Personaliza tu producto</h1>
                                <br />
                                <div class="col-lg-7 mb-5 mb-lg-0">
                                    <div class="imgs-grid">
                                        <div class="grid grid-1"><img src="~/img/CupcakePrueba.jpg" alt="Untree.co"></div>
                                        <div class="grid grid-2"><img src="~/img/CupcakePrueba.jpg" alt="Untree.co"></div>
                                        <div class="grid grid-3"><img src="~/img/CupcakePrueba.jpg" alt="Untree.co"></div>
                                    </div>
                                </div>
                                <div class="col-lg-5 ps-lg-5">
                                    <h3 class="my-3">Cupcake</h3>
                                    <p>Descripcion rapida de este cupcake.</p>

                                    <hr>
                                    <h4>Sabores disponibles</h4>

                                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                        <button type="button" class="btn btn-danger">Chocolate</button>
                                        <button type="button" class="btn btn-warning prueba">Vainilla</button>
                                        <button type="button" class="btn btn-success">Vainilla</button>
                                    </div>

                                    <h4 class="mt-3"><small>Tamanos disponibles</small></h4>
                                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                        <button type="button" class="btn btn-danger">Personal</button>
                                        <button type="button" class="btn btn-warning">Mediano</button>
                                        <button type="button" class="btn btn-success">Familiar</button>
                                    </div>

                                    <h4 class="mt-3"><small>Tipo de azucar</small></h4>
                                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                        <button type="button" class="btn btn-danger">Regular</button>
                                        <button type="button" class="btn btn-warning">Morena</button>
                                        <button type="button" class="btn btn-success">Sustituto</button>
                                    </div>

                                    <div class="bg-gray py-2 px-3 mt-4">
                                        <h2 class="mb-0">
                                            ₡2500.00
                                        </h2>
                                    </div>

                                    <div class="mt-4">
                                        <p><a href="@Url.Action("RegistrarUsuario", "Home")" class="btn btn-secondary me-2"> <i class="fas fa-cart-plus fa-lg mr-2"></i> Registrarme</a></p>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>


    </section>

    <br />
</div>

