@{
    Layout = "_LayoutUsuario";
}

<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Plataforma de Pago.</h1>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="untree_co-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-5 mb-md-0">
                <h2 class="h3 mb-3 text-black">Detalles de la factura</h2>
                <div class="p-3 p-lg-5 border bg-white">


                    <div class="form-group">
                        <label for="c_direccion" class="text-black">Tipo de Envio <span class="text-danger">*</span></label>
                        <select id="c_country" class="form-control">
                            <option value="1">Seleccione una opción</option>
                            <option value="2">Retirar en la sucursal</option>
                            <option value="3">Enviar a una de mis direcciones</option>

                        </select>
                    </div>

                    <div class="form-group">
                        <label for="c_direccion" class="text-black">Dirección <span class="text-danger">*</span></label>
                        <select id="c_country" class="form-control">
                            <option value="1">Seleccione una dirección</option>
                            <option value="2">Dirección 1</option>
                            <option value="3">Dirección 2</option>
                            <option value="4">Dirección 3</option>
                        </select>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-6">
                            <label for="c_fname" class="text-black">Nombre <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="c_fname" name="c_fname" placeholder="Nombre">
                        </div>
                        <div class="col-md-6">
                            <label for="c_lname" class="text-black">Apellidos <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="c_lname" name="c_lname" placeholder="Apellidos">
                        </div>
                    </div>




                    <div class="form-group row mb-5">
                        <div class="col-md-6">
                            <label for="c_email_address" class="text-black">Correo <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="c_email_address" name="c_email_address" placeholder="Correoejemplo123@gmail.com">
                        </div>
                        <div class="col-md-6">
                            <label for="c_phone" class="text-black">Telefono <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="c_phone" name="c_phone" placeholder="0000-0000">
                        </div>
                    </div>




                    <div class="form-group">
                        <label for="c_order_notes" class="text-black">Ordenes Especiales de Entrega </label>
                        <textarea name="c_order_notes" id="c_order_notes" cols="30" rows="5" class="form-control" placeholder="Escribe las notas aca..."></textarea>

                    </div>


                </div>
            </div>
            <div class="col-md-6">



                <div class="row mb-5">
                    <div class="col-md-12">
                        <h2 class="h3 mb-3 text-black">Tu Pedido</h2>
                        <div class="p-3 p-lg-5 border bg-white">
                            <table class="table site-block-order-table mb-5">
                                <thead>
                                <th>Producto</th>
                                <th>Total</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Cupcake<strong class="mx-2">x</strong> 1</td>
                                        <td>₡2500.00</td>
                                    </tr>
                                    <tr>
                                        <td>Cupcake <strong class="mx-2">x</strong>   1</td>
                                        <td>₡2500.00</td>
                                    </tr>
                                    <tr>
                                        <td class="text-black font-weight-bold"><strong>Subtotal del carrito</strong></td>
                                        <td class="text-black">₡5000.00</td>
                                    </tr>
                                    <tr>
                                        <td class="text-black font-weight-bold"><strong>Total de la orden</strong></td>
                                        <td class="text-black font-weight-bold"><strong>₡6200.00</strong></td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="border p-3 mb-3">
                                <h3 class="h6 mb-0"><a class="d-block" data-bs-toggle="collapse" href="#collapsebank" role="button" aria-expanded="false" aria-controls="collapsebank">Efectivo.</a></h3>

                                <div class="collapse" id="collapsebank">
                                    <div class="py-2">
                                        <p class="mb-0"> Efectivo.</p>
                                    </div>
                                </div>
                            </div>


                            <div class="border p-3 mb-3">
                                <h3 class="h6 mb-0"><a class="d-block" data-bs-toggle="collapse" href="#collapsecheque" role="button" aria-expanded="false" aria-controls="collapsecheque">Transferencia Bancaria o SINPE Movil</a></h3>

                                <div class="collapse" id="collapsecheque">
                                    <div class="py-2">
                                        <p class="mb-0">Transferencia o SINPE.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="border p-3 mb-3">
                                <h3 class="h6 mb-0"><a class="d-block" data-bs-toggle="collapse" href="#collapsecheque" role="button" aria-expanded="false" aria-controls="collapsecheque">PayPal</a></h3>

                                <div class="collapse" id="collapsecheque">
                                    <div class="py-2">
                                        <p class="mb-0">PayPal.</p>
                                    </div>
                                </div>
                            </div>





                            <div class="form-group">
                                <label class="form-label" for="customFile">Cargar Archivo</label>
                                <input type="file" class="form-control" id="customFile" />
                            </div>


                            <div class="form-group mt-3">
                                <a class="btn btn-black btn-lg py-3 btn-block" href="@Url.Action("Gracias", "UsuarioRegistrado")">Pagar.</a>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
      
    </div>
</div>
