@{
    Layout = "_LayoutUsuario";
}




<div class="wrapper mb-3">




    <div>


        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="card card-primary card-outline ">
                        <div class="card-body box-profile ">
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle"
                                     src="../../dist/img/user4-128x128.jpg"
                                     alt="User profile picture">
                            </div>

                            <h3 class="profile-username text-center">Prueba</h3>

                            <p class="text-muted text-center">Cliente</p>
                        </div>
                     
                    </div>
                  
                    <div class="card card-primary ">
                        <div class="card-header custom-navbar">
                            <h3 class="card-title text-white">Mis datos personales</h3>
                        </div>
                  
                        <div class="card-body">
                            <strong><i class="fas fa-user mr-1"></i> Nombre </strong>

                            <p class="text-muted">
                                Prueba
                            </p>

                            <hr>

                            <strong><i class="fas fa-user mr-1"></i> Apellidos </strong>

                            <p class="text-muted">Prueba, Prueba</p>

                            <hr>

                            <strong><i class="fas fa-user mr-1"></i> Correo </strong>

                            <p class="text-muted">
                                prueba@gmail.com
                            </p>

                            <hr>

                            <strong><i class="far fa-user mr-1"></i> Telefono </strong>

                            <p class="text-muted">+506 0000-8888</p>

                            <hr>

                            <strong><i class="far fa-user mr-1"></i> Provincia de Residencia </strong>

                            <p class="text-muted">Alajuela </p>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills">
                                <li class="nav-item"><a class="nav-link" href="#verpedidos" data-toggle="tab">Mis Pedidos</a></li>
                                <li class="nav-item"><a class="nav-link" href="#editarcuenta" data-toggle="tab">Editar Perfil</a></li>
                                <li class="nav-item"><a class="nav-link" href="#eliminarcuenta" data-toggle="tab">Eliminar Cuenta</a></li>
                                <li class="nav-item"><a class="nav-link" href="#agregardireccion" data-toggle="tab">Agregar Direccion</a></li>
                                <li class="nav-item"><a class="nav-link" href="#modificardireccion" data-toggle="tab">Modificar Direccion</a></li>
                                <li class="nav-item"><a class="nav-link" href="#eliminardireccion" data-toggle="tab">Eliminar Direccion</a></li>
                                <li class="nav-item"><a class="nav-link" href="#verdirecciones" data-toggle="tab">Ver mis Direcciones</a></li>
                            </ul>
                        </div><!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane" id="verpedidos">
                                    <div class="col-md-6">
                                        <!-- /.card -->

                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="card-title">Pedido 1</h3>
                                            </div>
                                            <!-- /.card-header -->
                                            <div class="card-body p-0">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Progreso</th>
                                                            <th style="width: 40px">Porcentaje</th>
                                                            <th style="width: 40px">Estado</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <div class="progress progress-xs">
                                                                    <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                                                                </div>
                                                            </td>
                                                            <td><span class="badge bg-danger">55%</span></td>
                                                            <td><span class="badge bg-primary"> Preparando </span></td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- /.card-body -->
                                        </div>
                                        <!-- /.card -->
                                    </div>


                                </div>
                                <!-- /.tab-pane -->

                                <div class="tab-pane" id="editarcuenta">
                                    <form class="form-horizontal">
                                        <div class="form-group row">
                                            <label for="inputName" class="col-sm-2 col-form-label">Nombre</label>
                                            <div class="col-sm-10">
                                                <input type="email" class="form-control" id="inputName" placeholder="Nombre">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputName2" class="col-sm-2 col-form-label">Apellidos</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="inputName2" placeholder="Apellidos">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputName2" class="col-sm-2 col-form-label">Telefono</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="inputName2" placeholder="Telefono">
                                            </div>
                                        </div>


                                        <div class="form-group row">
                                            <div class="offset-sm-2 col-sm-10">
                                                <button type="submit" class="btn btn-danger">Realizar cambios</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>


                                <div class="tab-pane" id="eliminarcuenta">
                                    <form class="form-horizontal">
                                        <div class="form-group row">
                                            <label for="inputName" class="col-sm-2 col-form-label">Correo</label>
                                            <div class="col-sm-10">
                                                <input type="email" class="form-control" id="inputName" placeholder="Correo">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputName2" class="col-sm-2 col-form-label">Contraseña</label>
                                            <div class="col-sm-10">
                                                <input type="password" class="form-control" id="inputName2" placeholder="****">
                                            </div>
                                        </div>


                                        <div class="form-group row">
                                            <div class="offset-sm-2 col-sm-10">
                                                <button type="submit" class="btn btn-danger">Eliminar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane" id="agregardireccion">
                                    <div class="form-group">
                                        <label for="c_country" class="text-black">Provincia <span class="text-danger"></span></label>
                                        <select id="c_country" class="form-control">
                                            <option value="1">Seleccione una provincia</option>
                                            <option value="2">Heredia</option>
                                            <option value="3">San José</option>
                                            <option value="3">Alajuela</option>
                                            <option value="3">Cartago </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="c_country" class="text-black">Canton <span class="text-danger"></span></label>
                                        <select id="c_country" class="form-control">
                                            <option value="1">Seleccione un canton</option>
                                            <option value="2">Canton 1</option>
                                            <option value="3">Canton 2</option>
                                            <option value="3">Canton 3</option>
                                            <option value="3">Canton 4</option>
                                        </select>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label for="c_companyname" class="text-black">Distrito </label>
                                            <input type="text" class="form-control" id="c_companyname" name="c_companyname" placeholder="distrito">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="c_order_notes" class="text-black">Dirección Exacta</label>
                                        <textarea name="c_order_notes" id="c_order_notes" cols="30" rows="5" class="form-control" placeholder="Escribe tu dirección aquí..."></textarea>

                                    </div>
                                    <div class="form-group row">
                                        <div>
                                            <button type="submit" class="btn btn-danger">Agregar Dirección</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="modificardireccion">
                                    <div class="form-group">
                                        <label for="c_country" class="text-black">Dirección a modificar<span class="text-danger"></span></label>
                                        <select id="c_country" class="form-control">
                                            <option value="1">Direccion </option>
                                            <option value="2">Direccion 1 </option>
                                            <option value="3">Direccion 2</option>
                                            <option value="3">Direccion 3</option>
                                            <option value="3">Direccion 4 </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="c_country" class="text-black">Provincia <span class="text-danger"></span></label>
                                        <select id="c_country" class="form-control">
                                            <option value="1">Seleccione una provincia</option>
                                            <option value="2">Heredia</option>
                                            <option value="3">San José</option>
                                            <option value="3">Alajuela</option>
                                            <option value="3">Cartago </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="c_country" class="text-black">Canton <span class="text-danger"></span></label>
                                        <select id="c_country" class="form-control">
                                            <option value="1">Seleccione un canton</option>
                                            <option value="2">Canton 1</option>
                                            <option value="3">Canton 2</option>
                                            <option value="3">Canton 3</option>
                                            <option value="3">Canton 4</option>
                                        </select>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label for="c_companyname" class="text-black">Distrito </label>
                                            <input type="text" class="form-control" id="c_companyname" name="c_companyname" placeholder="Distrito">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="c_order_notes" class="text-black">Dirección Exacta</label>
                                        <textarea name="c_order_notes" id="c_order_notes" cols="30" rows="5" class="form-control" placeholder="Escribe tu dirección aquí..."></textarea>

                                    </div>
                                    <div class="form-group row">
                                        <div>
                                            <button type="submit" class="btn btn-danger">Modificar Dirección</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="eliminardireccion">
                                    <div class="form-group">
                                        <label for="c_country" class="text-black">Dirección a eliminar<span class="text-danger"></span></label>
                                        <select id="c_country" class="form-control">
                                            <option value="1">Direccion </option>
                                            <option value="2">Direccion 1 </option>
                                            <option value="3">Direccion 2</option>
                                            <option value="3">Direccion 3</option>
                                            <option value="3">Direccion 4 </option>
                                        </select>
                                    </div>

                                    <div class="form-group row">
                                        <div>
                                            <button type="submit" class="btn btn-danger">Eliminar Dirección</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="verdirecciones">
                                    <div class="col-md-6">
                                        <!-- /.card -->

                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="card-title">Dirección 1</h3>
                                            </div>
                                            <!-- /.card-header -->
                                            <div class="card-body p-0">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Provincia</th>
                                                            <th>Canton</th>
                                                            <th>Distrito</th>
                                                            <th>Dirección exacta</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                Heredia
                                                            </td>
                                                            <td> Heredia</td>
                                                            <td> Heredia </td>
                                                            <td> 200 metros sur</td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- /.card-body -->
                                        </div>
                                        <!-- /.card -->
                                    </div>


                                </div>
                            </div>



                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->

    
</div>







