@{
    Layout = "_LayoutAdministrador";
}
<!DOCTYPE html>
<html>

<body>

    <div>

        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Agregar producto</h1>

                    </div>

                </div>
            </div>
        </section>

     
        <section class="content">

      
            <div class="card card-solid">
                <div class="card-body pb-0">
                    <div class="row d-flex align-items-stretch">
                        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                            <div class="card bg-light">

                                <br />
                                <div class="card-body pt-0">
                                    <div class="form-group">


                                        <label>Nombre:</label>
                                        <input type="text" class="form-control" placeholder="Nombre nuevo">


                                    </div>
                                    <br />
                                    <div class="form group">


                                        <label>Detalles:</label>
                                        <input type="text" class="form-control" placeholder="Detalles nuevos">


                                    </div>

                                    <br />
                                    <div class="form-group">
                                        <label for="c_country" class="text-black">Categoria relacionada: <span class="text-danger"></span></label>
                                        <select id="c_country" class="form-control">
                                            <option value="1">Seleccione la categoria relacionada</option>
                                            <option value="2">Categoria 1</option>
                                            <option value="3">Categoria 2</option>
                                            <option value="3">Categoria 3</option>
                                            <option value="3">Categoria 4</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="c_country" class="text-black">Receta relacionada: <span class="text-danger"></span></label>
                                        <select id="c_country" class="form-control">
                                            <option value="1">Seleccione la receta relacionada </option>
                                            <option value="2">Receta 1</option>
                                            <option value="3">Receta 2</option>
                                            <option value="3">Receta 3</option>
                                            <option value="3">Receta 4</option>
                                        </select>
                                    </div>

                                    <br />
                                    <div class="form-group">


                                        <label>Precio:</label>
                                        <input type="text" class="form-control" placeholder="Precio nuevo">


                                    </div>

                                    <br />

                                    <div class="col-5 text-left">
                                        <label>Ejemplo:</label>
                                        <img src="~/img/CupcakePrueba.jpg" alt="" class="img-circle img-fluid">
                                    </div>

                                    <br />

                                    <div class="form-group">
                                        <label class="form-label" for="customFile">Cargar Archivo</label>
                                        <input type="file" class="form-control" id="customFile" />
                                    </div>

                                </div>
                                <div class="card-footer">
                                    <div class="text-right">
                                        <a href="@Url.Action("Productos", "Administrador")" class="btn btn-sm btn-primary">
                                            Guardar
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
             

            </div>
        

        </section>
    
    </div>


    <script src="../../plugins/jquery/jquery.min.js"></script>
  
    <script src="~/plugins/bootstrap/js/bootstrap.min.js"></script>

   
    <script src="../../dist/js/adminlte.min.js"></script>
   
    <script src="../../dist/js/demo.js"></script>

    <script src="~\plugins\chart.js\chart.min.js"></script>
</body>
</html>

