@{
    Layout = "_LayoutAdministrador";
}
<!DOCTYPE html>
<html>

<body>



    <div>
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Inventario</h1>
                    </div>
                </div>
            </div>
        </section>


        <section class="content">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-6">

                        <div class="card card-primary">


                            <form role="form">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Nombre del producto</label>
                                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Nombre Producto">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Detalle</label>
                                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Detalle">
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Cantidad</label>
                                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Cantidad">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Unidad de medida</label>
                                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Unidad de Medida">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Precio por Unidad</label>
                                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Precio por Unidad">
                                    </div>

                                    <div class="card-footer">
                                        <a class="btn btn-primary" href="@Url.Action("Inventario", "Administrador")">Modificar</a>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>



    <script src="../../plugins/jquery/jquery.min.js"></script>

    <script src="~/plugins/bootstrap/js/bootstrap.min.js"></script>


    <script src="../../dist/js/adminlte.min.js"></script>

    <script src="../../dist/js/demo.js"></script>

    <script src="~\plugins\chart.js\chart.min.js"></script>
</body>
</html>
