@{
    Layout = "_LayoutAdministrador";
}
<!DOCTYPE html>
<html>
<body>



    <div>

        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Generacion de Facturas.</h1>
                    </div>
                </div>
            </div>
        </section>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="callout callout-info">
                            <h5><i class="fas fa-info"></i> Nota:</h5>
                            La factura que se genera, sera enviada al correo electronico relacionado al usuario
                        </div>
                        <div class="col-md-12">

                            <div class="card card-warning">
                                <div class="card-header">
                                    <h3 class="card-title">Crear factura</h3>
                                </div>

                                <div class="card-body">
                                    <form role="form">
                                        <div class="row">
                                            <div class="col-sm-6">

                                                <div class="form-group">
                                                    <label>Realizada por:</label>
                                                    <input type="text" class="form-control" value="Dulce Espiga Bakery" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            @*  <div class="col-sm-6">
                                            <!-- textarea -->
                                            <div class="form-group">
                                            <label>Textarea</label>
                                            <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
                                            </div>
                                            </div> *@
                                            <div class="col-sm-6">

                                                <div class="form-group">
                                                    <label>Usuario:</label>
                                                    <select class="form-control">
                                                        <option>Seleccione un usuario</option>
                                                        <option>Usuario 1</option>
                                                        <option>Usuario 2</option>
                                                        <option>Usuario 3</option>
                                                        <option>Usuario 4</option>
                                                        <option>Usuario 5</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">

                                                    <div class="form-group">
                                                        <label>Método de Pago:</label>
                                                        <select class="form-control">
                                                            <option>Seleccione un método de pago</option>
                                                            <option>Efectivo</option>
                                                            <option>Transferencia Bancaria/Sinpe Móvil</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">

                                                    <div class="form-group">
                                                        <label>Pedidos del usuario realizados con ese método de pago:</label>
                                                        <select class="form-control">
                                                            <option>Seleccione un pedido</option>
                                                            <option>Pedido 1</option>
                                                            <option>Pedido 2</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="row no-print">
                                                <div class="col-12">

                                                    <button type="button" class="btn btn-success float-right">
                                                        <i class="fas fa-email"></i> Enviar Factura
                                                    </button>
                                                    <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
                                                        <i class="fas fa-download"></i> Generar en PDF
                                                    </button>
                                                </div>
                                            </div>
                                    </form>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>


    </div>

    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../dist/js/demo.js"></script>

    <script src="~\plugins\chart.js\chart.min.js"></script>
</body>
</html>
