@{
    Layout = "_LayoutAdministrador";
}
<!DOCTYPE html>
<html>

<body>


    <div>
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Facturas</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li><a href="@Url.Action("Facturacion", "Administrador")" class="btn btn-sm btn-primary">Generar Factura</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Historial de facturas.</h3>
                        </div>
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Cliente</th>
                                        <th>Método de Pago</th>
                                        <th>Orden Relacionada</th>
                                        <th>Total pagado</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            Prueba
                                        </td>
                                        <td>Efectivo</td>
                                        <td> 3</td>
                                        <td>₡5000.00</td>
                                        <td>
                                            <div class="text-center">
                                                <a href="@Url.Action("VerFactura", "Administrador")" class="btn btn-sm btn-primary">
                                                    Ver
                                                </a>
                                                <a href="#" class="btn btn-sm ">
                                                    Eliminar
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>



    <script src="../../plugins/jquery/jquery.min.js"></script>
 
    <script src="~/plugins/bootstrap/js/bootstrap.min.js"></script>

  
    <script src="../../dist/js/adminlte.min.js"></script>

    <script src="../../dist/js/demo.js"></script>

    <script src="~\plugins\chart.js\chart.min.js"></script>
</body>
</html>

