@{
    Layout = "_LayoutAdministrador";
}
<!DOCTYPE html>
<html>

<body>

    <div>

        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Recetas</h1>

                    </div>

                </div>
            </div>
        </section>

    
        <section class="content">

            <div class="card card-solid">
                <div class="card-body pb-0">
                    <div class="row d-flex align-items-stretch">
                        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                            <div class="card bg-light">
                                <div class="card-header text-muted border-bottom-0">
                                    Receta 1
                                </div>
                                <br />
                                <div class="card-body pt-0">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="lead"><b>Receta para cupcake</b></h2>
                                            <p class="text-muted text-sm"><b>Detalles: </b> Receta para preparar cupcakes </p>
                                            <p class="text-muted text-sm">
                                                <b>Instrucciones: </b>
                                                Preparar la masa, Lavar la masa
                                            </p>
                                            <p class="text-muted text-sm">
                                                <b>Ingredientes necesarios: </b>
                                                Azucar, Harina
                                            </p>


                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="text-right">
                                        <a href="@Url.Action("EditarReceta", "Administrador")" class="btn btn-sm btn-primary">
                                            Editar
                                        </a>
                                        <a href="#" class="btn btn-sm">
                                            Eliminar
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                            <div class="card bg-light">
                                <div class="card-header text-muted border-bottom-0">
                                    Receta 2
                                </div>
                                <br />
                                <div class="card-body pt-0">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="lead"><b>Receta para cupcake</b></h2>
                                            <p class="text-muted text-sm"><b>Detalles: </b> Receta para preparar cupcakes </p>
                                            <p class="text-muted text-sm">
                                                <b>Instrucciones: </b>
                                                Preparar la masa, Lavar la masa
                                            </p>
                                            <p class="text-muted text-sm">
                                                <b>Ingredientes necesarios: </b>
                                                Azucar, Harina
                                            </p>



                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="text-right">
                                        <a href="@Url.Action("EditarReceta", "Administrador")" class="btn btn-sm btn-primary">
                                            Editar
                                        </a>
                                        <a href="#" class="btn btn-sm">
                                            Eliminar
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                            <div class="card bg-light">
                                <div class="card-header text-muted border-bottom-0">
                                    Receta 3
                                </div>
                                <br />
                                <div class="card-body pt-0">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="lead"><b>Receta para cupcake</b></h2>
                                            <p class="text-muted text-sm"><b>Detalles: </b> Receta para preparar cupcakes </p>
                                            <p class="text-muted text-sm">
                                                <b>Instrucciones: </b>
                                                Preparar la masa, Lavar la masa
                                            </p>
                                            <p class="text-muted text-sm">
                                                <b>Ingredientes necesarios: </b>
                                                Azucar, Harina
                                            </p>



                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="text-right">
                                        <a href="@Url.Action("EditarReceta", "Administrador")" class="btn btn-sm btn-primary">
                                            Editar
                                        </a>
                                        <a href="#" class="btn btn-sm">
                                            Eliminar
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
          
                <div class="card-footer">
                    <nav aria-label="Contacts Page Navigation">
                        <ul class="pagination justify-content-center m-0">
                            @* <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item"><a class="page-link" href="#">6</a></li>
                            <li class="page-item"><a class="page-link" href="#">7</a></li>
                            <li class="page-item"><a class="page-link" href="#">8</a></li> *@
                            <li>
                                <a href="@Url.Action("AgregarReceta", "Administrador")" class="btn btn-sm btn-primary">
                                    Agregar Receta
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
     
            </div>
       

        </section>
    
    </div>






  
</body>
</html>
