@{
    Layout = "_LayoutAdministrador";
}
<!DOCTYPE html>
<html>

<body>

    <div>
        <br />
        <section class="content ">


            <div class="col-md-12 ">
                <div class="card card-primary ">
                    <div class="card-header custom-navbar">
                        <h3 class="card-title">Informacion del pedido</h3>
                    </div>

                    <div class="card-body">
                        <strong> Usuario</strong>

                        <p class="text-muted">
                            prueba
                        </p>

                        <hr>

                        <strong> Número de Pedido</strong>

                        <p class="text-muted">
                            1
                        </p>

                        <hr>

                        <strong> Productos</strong>

                        <table class="table ">
                            <tr>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Precio unitario</th>
                            </tr>
                            <tr>
                                <td>Cupcake</td>
                                <td>1</td>
                                <td>₡2500</td>
                            </tr>
                            <tr>
                                <td>Cupcake</td>
                                <td>1</td>
                                <td>₡2500</td>
                            </tr>

                        </table>

                        <hr>

                        <strong> Metodo de pago</strong>

                        <p class="text-muted">
                            Efectivo
                        </p>

                        <hr>

                        <strong> Tipo de entrega</strong>
                        <p class="text-muted">Entrega por Motorizado</p>

                        <hr>
                        <strong> Direccion de entrega</strong>

                        <p class="text-muted">Heredia, Heredia, Mercedes, Por la iglesia</p>



                        <hr>

                        <strong> Notas</strong>

                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
                    </div>



                    <div class="card-footer clearfix">
                        <button type="button" class="btn btn-primary btn-sm float-right"> Cancelar pedido</button>
                    </div>
                </div>


            </div>

        </section>
    </div>

    </div>



    <script src="../../plugins/jquery/jquery.min.js"></script>

    <script src="~/plugins/bootstrap/js/bootstrap.min.js"></script>


    <script src="../../dist/js/adminlte.min.js"></script>

    <script src="../../dist/js/demo.js"></script>

    <script src="~\plugins\chart.js\chart.min.js"></script>
</body>
</html>
